<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Demo Phân loại cảm xúc bình luận</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <h1>Phân loại cảm xúc bình luận</h1>
    <form action="" method="post">
        <div class="form-group">
            <strong><label>Nhập commnet</label></strong><br>
            <textarea name="comment" class="form-control" rows="5" cols="100">{{comment}}</textarea>
            <br>
            <input class="btn btn-success" type="submit" value="Phân loại">
        </div>
    </form>
    {% if error %}<p class="btn btn-danger"><strong>Error:</strong> {{ error }}</p> {% endif %}

    {% if emotional %}<p><strong>Phân loại: </strong> {{ emotional }} </p>{% endif %}

</div>
</body>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</html>
